<sly data-sly-use.multifield="com.assignment.core.models.ArticleList">
	<div class="articlelist--list">
     <sly data-sly-list.items="${multifield.article.listChildren}">
			<div class="articlelist--item articlelist--noimg-item">
				<div class="articlelist--imgcontainer">
            		<img class="articlelist--img articlelist--noimg-img" src="${items.articleimg}">
					<sly data-sly-test="${items.newsDate}">
<div class="articlelist--date" data-sly-use.date="${'com.assignment.core.models.GetDateModel' @ date=items.newsDate}">${date.formatedDate}</div>
					</sly>
				</div>
                <h2 class="articlelist--title articlelist--noimg-title">${items.articletitle}</h2>
                <p class="articlelist--desc articlelist--noimg-desc">${items.desc}</p>
                <div class="articlelist--user" data-sly-test="${items.articlepg}">
                    <sly data-sly-test="${items.newsauthor}">
						<i class="fa fa-user" aria-hidden="true"></i>
						<p class="articlelist--username">${items.newsauthor}</p>
                    </sly>
					<sly data-sly-test="${items.articlepg && items.linkdis}">
						<a class="articlelist--pagelink articlelist--noimg-pagelink" href="${items.articlepg}">${items.linkdis}
							<span class="articlelist--arrow" data-sly-test="${!items.newsauthor}">
								&#8594;
							</span>
						</a>
					</sly>
                </div>
            </div>
     </sly>
     </div>
</sly>