
.imagetext--style1 {
	.aem-Grid.aem-Grid--12.aem-Grid--default--12:nth-child(1) {
		display: flex;
        background: #30afb8;
    }

    .cmp-image__image {
		max-height: 370px;
    }

    .text {
		color: white;
        font-family: 'lato';
        padding: 125px 10px 20px 40px;
    }

    h1 {
		    font-size: 40px;
    }
}

