
.imagetext--style1 {
	.aem-Grid.aem-Grid--12.aem-Grid--default--12:nth-child(1) {
		display: flex;
        background: #30afb8;
    }

    .cmp-image__image {
		max-height: 370px;
    }

    .text {
		color: white;
        font-family: 'lato';
        padding: 125px 10px 20px 40px;
    }

    h1 {
		    font-size: 40px;
    }
}

.imagetext--style2 {
	> .aem-Grid:first-child {
		display: flex;
        color: #333333;
        padding: 0px 150px 0 150px;
        font-family: 'lato';
    }

    .text {
		max-width: 580px;
        font-size: 14px;
    	line-height: 21px;
    }

    .cmp-title__text {
		font-size: 34px;
    	font-weight: 700;
    }

}

.image--small{
	.cmp-image__image {
		width: 320px;
    }
}


.image--medium{
	.cmp-image__image {
		width: 550px;
    }
}

.floatingarticle--container {
	background-color: #30AFB8;

    .text {
		color: white;
    }

    .cmp-form-button {
		border: 1px solid white;
        background: none;
        padding: 13px 35px;
        font-size: 22px;
        border-radius: 25px;
        color: white;
        margin-top: 15px;
    }
}

.padding--50--center {
	text-align: center;
    padding: 50px;
    font-family: 'lato';
}
