<sly data-sly-use.footer="com.assignment.core.models.FooterModel">

    <footer class="footer--main">
        <div class="footer--section">
            <img src="${properties.fileReference}" class="footer--logo">
            <p class="footer--desc">${properties.desc}</p>
        </div>
        <div class="footer--section">
            <h3 class="footer--heading">Recent Post</h3>
            <ul class="footer--list">
                <sly data-sly-list.link="${footer.postLinks}">
                    <li><a href="${link.recentPostLink}" class="footer--rlink footer--link">${link.title}</a>
                </sly>
            </ul>
        </div>
        <div class="footer--section">
            <h3 class="footer--heading">Quick Help</h3>
            <ul class="footer--list">
                <sly data-sly-list.link="${footer.helpLinks}">
                    <li><a href="${link.quickhelpLink}" class="footer--qlink footer--link">${link.title}</a>
                </sly>
            </ul>
        </div>
        <div  class="footer--section">
			<h3 class="footer--heading">Tags</h3>
    		<div class="footer--tagcontainer" data-sly-list.tag="${footer.tag.listChildren}">
    			<p class="footer--tagp"><a href="${tag.tagLink}" class="footer--tag">${tag.tagTitle}</a></p>
			</div>
        </div>
    </footer>
</sly>
