
.cmp-carousel__actions {
	display: none;
}

.cmp-carousel__indicators {
	display: none !important;
}

.HeroImage--discription {
	font-family: 'Lato', sans-serif;
    position: absolute;
    bottom: 14vw;
    left: 24vw;
}

.HeroImage--title {
	font-size: 50px;
    color: #313a48;
    text-transform: uppercase;
}

.HeroImage--subtitle {
	color: #333333;
    font-size: 20px;
    max-width: 800px;

}

.HeroImage--btn {
	text-decoration: none;
    border: 2px solid #313a48;
    font-size: 20px;
    padding: 13px 27px;
    font-weight: 600;
    color: #333333;
    line-height: 4;
}

.cmp-carousel__content {
	z-index:-1;
}